<!DOCTYPE html>
<html lang="en">

<head>
    <title>Low Carb Diet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a class="navbar-brand" href="/">Natural Eating</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="home#" class="nav-link">Home</a>
                </li>
                <li class="active nav-item"><a href="lowcarbdiet" class="nav-link">Low Carb Diet</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Meal Plans</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>
                <div class="caption">Why a Low Carb Diet is best for weight loss?
                </div>
                <img src="assets/baked_salmon.jpg" alt="Baked Salmon with Herbs" style="width:300px">
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <div class="caption">Want to learn what foods are high in protein but low in carbs?</div>
                <img src="assets/brunch_eggs_chicken.jpg" alt="Breakfast Taco Toast">
            </p>
        </div>
    </div>
</div>

</html>